find highest number of vaccines 
If you could collect data on how many of for example which vaccine was used in which country,

In [1]:
import math
import io
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats
import scipy.optimize
import scipy.spatial
import seaborn as sns

In [2]:
cases = pd.read_csv('../data/covid_cases_cleaned.csv')
cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 967749 entries, 0 to 967748
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       967749 non-null  object
 1   country    967749 non-null  object
 2   confirmed  967749 non-null  int64
 3   deaths     967749 non-null  int64
 4   recovered  967749 non-null  int64
 5   active     967749 non-null  int64
dtypes: int64(4), object(2)
memory usage: 44.3+ MB

In [3]:
cases.country.value_counts(normalize=True)

United States           0.917051
Russia                  0.018223
China                   0.010953
India                   0.007810
Mexico                  0.007511
Brazil                  0.006328
Italy                   0.005077
Spain                   0.004834
Canada                  0.004435
Germany                 0.004133
United Kingdom          0.004106
Chile                   0.003998
France                  0.003329
United Arab Emirates    0.000346
Israel                  0.000322
Indonesia               0.000312
Morocco                 0.000312
Poland                  0.000310
Bangladesh              0.000306
Turkey                  0.000303
Name: country, dtype: float64

US makes up 91% of the data

In [4]:
#Morrocco
mor_df = pd.DataFrame(cases[cases['country'] == 'Morocco'])
mor_df.describe()

           confirmed       deaths      recovered        active
count     302.000000   302.000000     302.000000    302.000000
mean   104167.655629  1769.357616   88067.208609  14331.089404
std    137022.051607  2261.909532  120982.027899  15373.577791
min         1.000000     0.000000       0.000000      1.000000
25%      6773.250000   192.000000    3530.250000   2144.250000
50%     23790.500000   349.500000   17484.500000   5956.500000
75%    169970.250000  2863.000000  140783.000000  24813.000000
max    439193.000000  7388.000000  407504.000000  49800.000000

In [5]:
#Asia: Indonesia, Bangladesh, United Arab Emirates, Germany, Israel, Turkey, India, China
ind_df = cases[cases['country'] == 'Indonesia']
bgd_df = cases[cases['country'] == 'Bangladesh']
are_df = cases[cases['country'] == 'United Arab Emirates']
deu_df = cases[cases['country'] == 'Germany']
isr_df = cases[cases['country'] == 'Israel']
tur_df = cases[cases['country'] == 'Turkey']
indi_df = cases[cases['country'] == 'India']
chn_df = cases[cases['country'] == 'China']

asia_df = pd.concat([ind_df, bgd_df, are_df, deu_df, isr_df, tur_df, indi_df, chn_df])
asia_df.country.value_counts(normalize=True)

China                   0.447333
India                   0.318957
Germany                 0.168805
United Arab Emirates    0.014137
Israel                  0.013167
Indonesia               0.012745
Bangladesh              0.012492
Turkey                  0.012365
Name: country, dtype: float64

In [6]:
#Europe: Poland, Spain, Italy, France, Russia, United Kingdom

pol_df = cases[cases['country'] == 'Poland']
esp_df = cases[cases['country'] == 'Spain']
ity_df = cases[cases['country'] == 'Italy']
fra_df = cases[cases['country'] == 'France']
rus_df = cases[cases['country'] == 'Russia']
gbr_df = cases[cases['country'] == 'United Kingdom']

eu_df = pd.concat([pol_df, esp_df, ity_df, fra_df, rus_df, gbr_df])
eu_df.country.value_counts(normalize=True)

Russia            0.507891
Italy             0.141495
Spain             0.134727
United Kingdom    0.114452
France            0.092794
Poland            0.008640
Name: country, dtype: float64

In [7]:
#North America: United States, Canada
usa_df = cases[cases['country'] == 'United States']
can_df = cases[cases['country'] == 'Canada']

noam_df = pd.concat([usa_df, can_df])
noam_df.country.value_counts(normalize=True)

United States    0.995187
Canada           0.004813
Name: country, dtype: float64

In [8]:
#South America: Mexico, Chile, Brazil
mex_df = cases[cases['country'] == 'Mexico']
chl_df = cases[cases['country'] == 'Chile']
bra_df = cases[cases['country'] == 'Brazil']

soam_df = pd.concat([mex_df, chl_df, bra_df])
soam_df.country.value_counts(normalize=True)

Mexico    0.421098
Brazil    0.354768
Chile     0.224134
Name: country, dtype: float64

In [9]:
noam_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891767 entries, 80274 to 4291
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       891767 non-null  object
 1   country    891767 non-null  object
 2   confirmed  891767 non-null  int64
 3   deaths     891767 non-null  int64
 4   recovered  891767 non-null  int64
 5   active     891767 non-null  int64
dtypes: int64(4), object(2)
memory usage: 47.6+ MB

In [10]:
# _ = plt.plot(noam_df.date.month, noam_df['deaths'], 'r')
# _ = plt.plot(noam_df.date.month, noam_df['confirmed'], 'b')
# plt.show()
noam_df['date'] = pd.to_datetime(noam_df['date'],format='%Y-%m-%d')
n_df = noam_df.set_index('date').sort_index()
n_df.index = n_df.index.to_pydatetime()

# two_H = n_df['2020-06':'2020-12'][:]
# type(two_H)
# # plt.xticks(rotation=45)
# plt.title('North America: June to December, 2020')
# plt.plot(two_H, color='black')
# plt.show()
#plt.plot(two_H)

In [11]:
# sns.set_theme(style="ticks")
# sns.jointplot(x='confirmed', y='deaths', data=n_df, kind="hex", color="#4CB391")

In [13]:
cases.head()

         date country  confirmed  deaths  recovered  active
0  2020-01-26  Canada          1       0          0       1
1  2020-01-27  Canada          1       0          0       1
2  2020-01-28  Canada          1       0          0       1
3  2020-01-28  Canada          1       0          0       1
4  2020-01-29  Canada          1       0          0       1

In [16]:
vaccines = pd.read_csv('../data/vaccine_data_cleaned.csv')
vaccines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1142 entries, 0 to 1141
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              1142 non-null   object
 1   iso_code                             1142 non-null   object
 2   date                                 1142 non-null   object
 3   total_vaccinations                   1142 non-null   int64
 4   people_fully_vaccinated              1142 non-null   int64
 5   daily_vaccinations                   1142 non-null   int64
 6   total_vaccinations_per_hundred       1142 non-null   float64
 7   people_fully_vaccinated_per_hundred  1142 non-null   float64
 8   vaccines                             1142 non-null   object
 9   source_name                          1142 non-null   object
 10  source_website                       1142 non-null   object
 11  Covaxin                              44 non-null     object
 12  EpiVacCorona                         76 non-null     object
 13  Johnson&Johnson                      0 non-null      float64
 14  Moderna                              500 non-null    object
 15  Oxford/AstraZeneca                   659 non-null    object
 16  Pfizer/BioNTech                      765 non-null    object
 17  Sinopharm/Beijing                    141 non-null    object
 18  Sinopharm/Wuhan                      111 non-null    object
 19  Sinovac                              260 non-null    object
 20  Sputnik V                            198 non-null    object
dtypes: float64(3), int64(3), object(15)
memory usage: 187.5+ KB

In [18]:
vaccines.source_name.value_counts(normalize=True)

Ministry of Health                                             0.209282
Government of the United Kingdom                               0.067426
Official data from local governments via gogov.ru              0.066550
Government of Israel                                           0.063047
Centers for Disease Control and Prevention                     0.062172
Secretary of Health                                            0.058669
Department of Statistics and Health Information                0.057793
Robert Koch Institut                                           0.056042
Extraordinary commissioner for the Covid-19 emergency          0.056042
Public Health France                                           0.055166
National Health Commission                                     0.049037
National Emergency Crisis and Disaster Management Authority    0.048161
Government of Canada                                           0.042032
COVID-19 Vaccine Information Platform                          0.041156
Regional governments via Coronavirus Brasil                    0.038529
Directorate General of Health Services                         0.028897
Name: source_name, dtype: float64